*{
  margin:0;
  padding:0;
}


#nav-bar{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 10;
}

#nav-bar ul li a:hover{
  color: rgba(235, 127, 181)!important;
}

.navbar-nav li{
  padding: 0 20px 0;
}

.navbar-nav li a{
  float: right;
  text-align: center;
}

.navbar{
  background: #fff;
}

.navbar-toggler{
  border:none!important;
}

.nav-link{
  color: #555!important;
  font-weight: 600;
  font-size:18px;
}

.header {
  padding: 250px;
  width: 100%;
  height:auto;
  text-align: center;
  background-image: url("../img/birds.jpg");
}


.header h1 {
  font-size: 50px;
}
